src/
test/
build/
dist/public/
docs/
coverage/
tools/
.github

.editorconfig
tsconfig.json
jest.config.js
.prettierrc.json
rollup.config.ts
tsconfig.json
tslint.json
typedoc.json

index.layout.html
usage.md
water.png
